<h4>Post Author: </h4> <p>{{post.author}}</p>
<h4>Question:</h4>  <p>"{{post.question}}"</p>
<h4>Additional Notes: </h4> <p>{{post.notes}}</p>
<br>
<button class="button_delete"{{action 'delete' post}}>Delete Post</button>


<h2>Comments</h2>
<ul>
  {{#each post.comments as |comment|}}
  {{comment-tile comment=comment destroyComment="destroyComment"}}
  {{/each}}
</ul>
